:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1440px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.root {
  position: absolute;
  height: 1440px;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}
.groups {
  position: absolute;
  width: 1440px;
  height: 726px;
  right: 0;
  bottom: 714px;
  background: rgba(0, 0, 0, 0);
  z-index: 16;
}
.groups-1 {
  position: absolute;
  width: 726px;
  height: 726px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
}
.image {
  position: relative;
  width: 720px;
  height: 720px;
  margin: 0 0 0 6px;
  background: url(./assets/images/d40ccc22c12b280f1c036bfb3dde5a4dbdadcbbc.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.background {
  position: absolute;
  width: 720px;
  height: 720px;
  right: 720px;
  bottom: 6px;
  background: #eee8e5;
  z-index: 20;
}
.groups-2 {
  position: absolute;
  width: 725px;
  height: 709px;
  right: 715px;
  bottom: 2px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 19;
}
.wishbone-partner {
  display: block;
  position: relative;
  height: 17px;
  margin: 122px 0 0 100px;
  color: #877c76;
  font-family: Inter, var(--default-font-family);
  font-size: 12.199999809265137px;
  font-weight: 600;
  line-height: 14.765px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.beautiful-architecture {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 406px;
  height: 199px;
  margin: 25px 0 0 101.143px;
  color: #222020;
  font-family: Inter, var(--default-font-family);
  font-size: 59.79999923706055px;
  font-weight: 600;
  line-height: 72.372px;
  text-align: left;
  z-index: 23;
}
.architecture-firm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 507px;
  height: 117px;
  margin: 29px 0 0 99.143px;
  color: #635f5c;
  font-family: Inter, var(--default-font-family);
  font-size: 16.600000381469727px;
  font-weight: 400;
  line-height: 20.09px;
  text-align: left;
  z-index: 22;
}
.read-more {
  display: block;
  position: relative;
  height: 18px;
  margin: 46px 0 0 102px;
  color: #706c6b;
  font-family: Inter, var(--default-font-family);
  font-size: 14.800000190734863px;
  font-weight: 600;
  line-height: 17.911px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.background-3 {
  position: absolute;
  width: 1440px;
  height: 726px;
  right: 0;
  bottom: 0;
  font-size: 0px;
  background: #fefefe;
  z-index: 1;
}
.our-process {
  display: block;
  position: relative;
  height: 17px;
  margin: 101px 0 0 662px;
  color: #a09994;
  font-family: Inter, var(--default-font-family);
  font-size: 12.199999809265137px;
  font-weight: 600;
  line-height: 14.765px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.how-we-do {
  display: block;
  position: relative;
  height: 37px;
  margin: 18px 0 0 494px;
  color: #2a2828;
  font-family: Inter, var(--default-font-family);
  font-size: 38.29999923706055px;
  font-weight: 600;
  line-height: 37px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.flex-row-dd {
  position: relative;
  width: 1130px;
  height: 279px;
  margin: 35px 0 0 152px;
  z-index: 10;
}
.groups-4 {
  position: absolute;
  width: 372px;
  height: 267px;
  right: 379px;
  bottom: 12px;
  background: rgba(0, 0, 0, 0);
  z-index: 6;
}
.image-5 {
  position: relative;
  width: 117px;
  height: 102px;
  margin: 15px 0 0 130px;
  background: url(./assets/images/2d47984b2a0918976901a5b51fd15a2b5f61f4f2.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.finalizing {
  display: block;
  position: relative;
  height: 22px;
  margin: 17px 0 0 150px;
  color: #848280;
  font-family: Inter, var(--default-font-family);
  font-size: 16.600000381469727px;
  font-weight: 600;
  line-height: 20.09px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.adipiscing-elit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 287px;
  height: 70px;
  margin: 13px 0 0 46.714px;
  color: #89807a;
  font-family: Inter, var(--default-font-family);
  font-size: 16.5px;
  font-weight: 400;
  line-height: 19.969px;
  text-align: center;
  text-overflow: initial;
  z-index: 7;
  overflow: hidden;
}
.groups-6 {
  position: absolute;
  width: 366px;
  height: 278px;
  right: 764px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}
.image-7 {
  position: relative;
  width: 117px;
  height: 102px;
  margin: 14px 0 0 114px;
  background: url(./assets/images/9deec9ecfa95bf868297a13552a288f7dfd9c5c8.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.sketching {
  display: block;
  position: relative;
  height: 22px;
  margin: 17px 0 0 129px;
  color: #7e7c7a;
  font-family: Inter, var(--default-font-family);
  font-size: 17.700000762939453px;
  font-weight: 600;
  line-height: 21.421px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.lorem-ipsum-dolo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 282px;
  height: 94px;
  margin: 12px 0 0 33px;
  color: #847b75;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 600;
  line-height: 18.153px;
  text-align: center;
  z-index: 11;
}
.groups-8 {
  position: absolute;
  width: 346px;
  height: 277px;
  right: 0;
  bottom: 1px;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.image-9 {
  position: relative;
  width: 117px;
  height: 102px;
  margin: 14px 0 0 120px;
  background: url(./assets/images/6b3cd73cbf9c463b98f27145e0fd3d90421c96a9.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.building {
  display: block;
  position: relative;
  height: 22px;
  margin: 17px 0 0 145px;
  color: #7b7977;
  font-family: Inter, var(--default-font-family);
  font-size: 17.100000381469727px;
  font-weight: 400;
  line-height: 20.695px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.nulla-ut-tristique {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 284px;
  height: 94px;
  margin: 13px 0 0 37px;
  color: #897f7a;
  font-family: Inter, var(--default-font-family);
  font-size: 16.5px;
  font-weight: 600;
  line-height: 19.969px;
  text-align: center;
  text-overflow: initial;
  z-index: 3;
  overflow: hidden;
}
